/* Brand Colors */
/* ============== */
.bgRed {
  background-color: #F75B54; }

.bgGreen {
  background-color: #00E985; }

.bgTeal {
  background-color: #10DBE8; }

.bgBlue {
  background-color: #54A0F7; }

.bgPurple {
  background-color: #B954F7; }

/* Responsive Design */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.row::after {
  content: '';
  clear: both;
  display: block; }

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px; }

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
/* Site */
.noScroll {
  overflow: hidden; }

.scrollbar {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'proxima soft';
  color: white;
  font-size: 48px; }

.jumboTron {
  height: 100vh;
  min-height: 700px;
  background-image: url("images/lookingOut.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
  overflow: hidden; }

/*==== JUMBOTRON ====*/
.jumbotronOverlay {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top right, #F75B54, #00E985, #10DBE8, #54A0F7, #B954F7);
  opacity: 0.4;
  z-index: 3;
  padding: 30px; }

.headline {
  z-index: 5;
  position: absolute;
  text-align: center;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 0; }

.logoContainer {
  height: 300px;
  width: 300px;
  margin: 0 auto; }

.headlineLogo {
  max-width: 100%;
  max-height: 100%; }

.headline h1 {
  color: white;
  font-size: 42px;
  font-family: 'proxima-soft'; }

/* ============== */
/*==== ABOUT ====*/
.about {
  z-index: 0;
  margin: 0;
  padding: 0;
  background-image: url("images/lookingOut.jpg");
  background-position: bottom;
  background-size: cover;
  position: relative;
  background-attachment: fixed; }
  .about .aside {
    z-index: 4;
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: left;
    float: right; }
  .about h2 {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'chantal';
    font-weight: bold;
    font-size: 72px;
    text-align: center; }
  .about p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-family: "proxima-soft";
    padding-right: 200px;
    padding-left: 200px;
    text-align: center; }

.aboutOverlay {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0.6)); }

.featuresContainer {
  padding: 10px;
  padding-bottom: 100%;
  margin: 0;
  position: relative;
  z-index: 999; }
  @media only screen and (min-width: 600px) {
    .featuresContainer {
      padding-bottom: 50%; } }
  @media only screen and (min-width: 768px) {
    .featuresContainer {
      padding-bottom: 25%; } }

.featuresButton {
  height: 85%;
  width: 85%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 1000;
  transition: 2s;
  border-radius: 5px; }

.featuresButton:hover {
  height: 90%;
  width: 90%;
  cursor: pointer; }

.featuresIcon {
  width: 100%; }

.popupContent {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 500px;
  max-width: 900px;
  color: white;
  padding-bottom: 100px;
  font-size: 24px;
  font-family: 'proxima-soft';
  margin-top: 20px; }
  .popupContent h2 {
    font-family: 'chantal';
    font-size: 64px; }

/* ============== */
.footer {
  height: 400px;
  background-image: url("images/concrete-texture.png");
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 6px 9px -6px rgba(0, 0, 0, 0.7);
  z-index: 0; }

.wrapper {
  padding: 0;
  margin: 0;
  z-index: 4; }

.expandIcon {
  position: absolute;
  bottom: 5%;
  right: 10%; }

.expanded {
  width: 100%;
  transition: 1s; }

.overlay {
  height: 100%;
  position: fixed;
  top: 0;
  left: -110%;
  width: 100%;
  transition: transform 0.5s;
  z-index: 3000;
  overflow-y: scroll;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  clip-path: polygon(0 0, 74% 0, 100% 100%, 0 100%);
  transition: clip-path 0.8s; }

.contentOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
  pointer-events: none;
  transition: 0.4s; }

.collapseContainer {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 2%;
  top: 2%;
  border: 3px solid white;
  background-color: #F75B54; }

.collapse {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto; }

.overlay::-webkit-scrollbar {
  width: 7px; }

/* Track */
.overlay::-webkit-scrollbar-track {
  background: #fcb8b5; }

/* Handle */
.overlay::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7); }

/* Handle on hover */
.overlay::-webkit-scrollbar-thumb:hover {
  background: #555; }

/* ============== */
/* ===== Material Design Shadows ===== */
.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer; }

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-4 {
  box-shadow: 0 -14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/*# sourceMappingURL=backhandPromo.css.map */
